/*Variables*/
* {
	-fx-noir: #000000;
	-fx-noir-bof: #303030;
	-fx-noir-bof-bof: #2B4747;
	-fx-blanc: #FFFFFF;
	-fx-bleu-hover: #6495ED;
	-fx-bleu-hover-90: #6495ED90;
	-fx-rouge-hover: #FF0000;
	-fx-transparent: transparent;
	-fx-info-titre: #261D1D;
	-fx-info-contenu: #282626;
}

/*Haut*/
.haut-l1-menu-bar {
	-fx-background-color: -fx-noir;
}

.haut-l1-menu-bar .menu .label {
	-fx-text-fill: -fx-blanc;
}

.context-menu {
	-fx-background-color: -fx-noir;
}

.haut-l2-border-pane {
	-fx-background-color: -fx-noir-bof;
}

.haut-l2-gauche-hbox {
	-fx-alignment: center;
	-fx-spacing: 2px;
}

.haut-l2-separator {
	-fx-orientation: vertical;
	-fx-max-height: 20px;
}

.haut-l2-separator .line{
	-fx-border-width: 0.5px;
	-fx-border-color: -fx-blanc;
}

.haut-l2-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-transparent;
	-fx-pref-height: 26px;
	-fx-pref-width: 26px;
	-fx-background-position: center center;
	-fx-background-size: 26px 26px;
}

.haut-l2-button:hover {
	-fx-background-color: -fx-bleu-hover-90;
}

.haut-l2-button:armed {
	-fx-background-color: -fx-bleu-hover;
}

.haut-l2-button .tooltip {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-noir;
}

.haut-l2-button1 {
	-fx-background-image: url("/images/nouveau.png");
}

.haut-l2-button2 {
	-fx-background-image: url("/images/ouvrir.png");
}

.haut-l2-button3 {
	-fx-background-image: url("/images/enregistrer.png");
}

.haut-l2-button4 {
	-fx-background-image: url("/images/couper.png");
}

.haut-l2-button5 {
	-fx-background-image: url("/images/copier.png");
}

.haut-l2-button6 {
	-fx-background-image: url("/images/coller.png");
}

.haut-l2-button7 {
	-fx-background-image: url("/images/annuler.png");
}

.haut-l2-button8 {
	-fx-background-image: url("/images/repeter.png");
}

.haut-l2-toggle-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-transparent;
	-fx-pref-height: 26px;
	-fx-pref-width: 26px;
	-fx-background-position: center center;
	-fx-background-size: 26px 26px;
}

.haut-l2-toggle-button:hover {
	-fx-background-color: -fx-bleu-hover-90;
}

.haut-l2-toggle-button:selected {
	-fx-background-color: -fx-bleu-hover;
}

.haut-l2-toggle-button .tooltip {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-noir;
}

.haut-l2-toggle-button1 {
	-fx-background-image: url("/images/grille.png");
}

.haut-l2-toggle-button2 {
	-fx-background-image: url("/images/couleurs.png");
}

.haut-l2-toggle-button3 {
	-fx-background-image: url("/images/outils.png");
}

.haut-l2-toggle-button4 {
	-fx-background-image: url("/images/information.png");
}

/*Outils*/
.outils-vbox {
	-fx-background-color: -fx-noir-bof;
	-fx-alignment: top-left;
	-fx-max-height: 84px;
	-fx-max-width: 67px;
}

.outils-titre-border-pane {
	-fx-padding: 4px;
	-fx-pref-height: 17px;
	-fx-background-color: -fx-noir;
}

.outils-titre-label {
	-fx-text-fill: -fx-blanc;
}

.outils-titre-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-blanc;
	-fx-min-height: 17px;
	-fx-pref-height: 17px;
	-fx-pref-width: 17px;
	-fx-background-position: center center;
	-fx-background-size: 17px 17px;
	-fx-background-image: url("/images/fermer.png");
}

.outils-titre-button:hover {
	-fx-background-color: -fx-rouge-hover;
	-fx-background-image: url("/images/fermer_blanc.png");
}

.outils-corps-grid-pane {
	-fx-padding: 0px 5px 0px 5px;
	-fx-hgap: 5px;
	-fx-vgap: 5px;
}

.outils-corps-toggle-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-transparent;
	-fx-pref-height: 26px;
	-fx-pref-width: 26px;
	-fx-background-position: center center;
	-fx-background-size: 26px 26px;
}

.outils-corps-toggle-button:hover {
	-fx-background-color: -fx-bleu-hover-90;
}

.outils-corps-toggle-button:selected {
	-fx-background-color: -fx-bleu-hover;
}

.outils-corps-toggle-button .tooltip {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-noir;
}

.outils-corps-toggle-button11 {
	-fx-background-image: url("/images/selection.png");
}

.outils-corps-toggle-button12 {
	-fx-background-image: url("/images/deplacer_selection.png");
}

.outils-corps-toggle-button21 {
	-fx-background-image: url("/images/noeud.png");
}

.outils-corps-toggle-button22 {
	-fx-background-image: url("/images/barre.png");
}

.outils-corps-toggle-button31 {
	-fx-background-image: url("/images/effacer.png");
}

.outils-corps-toggle-button32 {
	-fx-background-image: url("/images/force.png");
}

/*Couleurs*/
.couleurs-vbox {
	-fx-background-color: -fx-noir-bof;
	-fx-alignment: bottom-left;
	-fx-max-height: 205px;
	-fx-max-width: 255px;
}

.couleurs-titre-border-pane {
	-fx-padding: 4px;
	-fx-pref-height: 17px;
	-fx-background-color: -fx-noir;
}

.couleurs-titre-label {
	-fx-text-fill: -fx-blanc;
}

.couleurs-titre-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-blanc;
	-fx-min-height: 17px;
	-fx-pref-height: 17px;
	-fx-pref-width: 17px;
	-fx-background-position: center center;
	-fx-background-size: 17px 17px;
	-fx-background-image: url("/images/fermer.png");
}

.couleurs-titre-button:hover {
	-fx-background-color: -fx-rouge-hover;
	-fx-background-image: url("/images/fermer_blanc.png");
}

.couleurs-corps-label {
	-fx-text-fill: -fx-blanc;
	-fx-padding: 5px 0px 0px 5px;
}

.couleurs-corps-graphic {
	-fx-stroke: -fx-blanc;
}

.couleurs-corps-grid-pane {
	-fx-hgap: 2px;
	-fx-vgap: 2px;
	-fx-padding: 5px;
}

.couleurs-corps-button {
	-fx-min-height: 17px;
	-fx-pref-height: 17px;
	-fx-min-width: 17px;
	-fx-pref-width: 17px;
	-fx-background-color: -fx-transparent;
	-fx-background-radius: 0px;
}

.couleurs-corps-button:hover {
	-fx-background-color: -fx-blanc;
}

/*Informations*/
.informations-vbox {
	-fx-background-color: -fx-noir-bof;
	-fx-alignment: top-right;
	-fx-max-width: 320px;
}

.informations-titre-border-pane {
	-fx-padding: 4px;
	-fx-pref-height: 17px;
	-fx-background-color: -fx-noir;
}

.informations-titre-label {
	-fx-text-fill: -fx-blanc;
}

.informations-titre-button {
	-fx-background-radius: 0px;
	-fx-background-color: -fx-blanc;
	-fx-min-height: 17px;
	-fx-pref-height: 17px;
	-fx-pref-width: 17px;
	-fx-background-position: center center;
	-fx-background-size: 17px 17px;
	-fx-background-image: url("/images/fermer.png");
}

.informations-titre-button:hover {
	-fx-background-color: -fx-rouge-hover;
	-fx-background-image: url("/images/fermer_blanc.png");
}

.informations-scroll-pane {
	-fx-background-color: -fx-transparent;
	-fx-hbar-policy: never;
	-fx-vbar-policy: always;
}

.informations-scroll-pane .viewport {
   -fx-background-color: -fx-transparent;
}

.informations-scroll-pane .scroll-bar:vertical {
    -fx-background-color: -fx-noir;
    -fx-pref-width: 15px;
}

.informations-scroll-pane .scroll-bar:vertical .thumb {
	-fx-background-color: -fx-noir-bof-bof;
    -fx-background-radius: 0px;
}

.informations-container {
	-fx-background-color: -fx-info-contenu;
	-fx-spacing: 1.5px;
}

.informations-titled-pane {
	-fx-text-fill: -fx-blanc;
}

.informations-titled-pane .title {
	-fx-background-color: -fx-info-titre;
	-fx-background-radius: 0px;
}

.informations-titled-pane .title .arrow-button .arrow {
	-fx-background-color: -fx-blanc;
}

.informations-titled-pane .content {
	-fx-background-color: -fx-info-contenu;
	-fx-box-border: -fx-transparent;
}

.informations-point-grid-pane {
	-fx-hgap: 10px;
	-fx-vgap: 2px;
}

.informations-label {
	-fx-text-fill: -fx-blanc;
}

.informations-hbox-couleur {
	-fx-spacing: 5px;
	-fx-alignment: center;
}

.informations-rectangle {
	-fx-stroke: -fx-blanc;
}

.informations-couleur {
	-fx-max-width: 65px;
	-fx-background-color: -fx-noir-bof;
	-fx-background-radius: 0px;
	-fx-text-fill: -fx-blanc;
}

.informations-point-coordonnee {
	-fx-max-width: 60px;
	-fx-background-color: -fx-noir-bof;
	-fx-background-radius: 0px;
	-fx-text-fill: -fx-blanc;
}

.informations-point-separator {
	-fx-orientation: vertical;
	-fx-max-height: 80px;
}

.informations-point-separator .line{
	-fx-border-width: 0.5px;
	-fx-border-color: -fx-blanc;
}

.informations-segment-grid-pane {
	-fx-hgap: 10px;
	-fx-vgap: 2px;
}

.informations-extremites-label {
	-fx-text-fill: -fx-blanc;
}

.informations-extremites-label:hover {
	-fx-text-fill: -fx-bleu-hover;
}

.informations-segment-caracteristique {
	-fx-background-color: -fx-noir-bof;
	-fx-background-radius: 0px;
	-fx-max-width: 60px;
	-fx-text-fill: -fx-blanc;
}

.informations-label-wrap {
	-fx-line-spacing: -5px;
	-fx-text-fill: -fx-blanc;
}

.informations-segment-separator {
	-fx-orientation: vertical;
	-fx-max-height: 120px;
}

.informations-segment-separator .line{
	-fx-border-width: 0.5px;
	-fx-border-color: -fx-blanc;
}

/*Zone dessin*/
.zone-dessin-pane {
	-fx-background-color: -fx-blanc;
	-fx-max-height: 500px;
	-fx-pref-height: 500px;
	-fx-max-width: 600px;
	-fx-pref-width: 600px;
}

/*Centre*/
.centre-stack-pane {
	-fx-background-color: -fx-noir-bof-bof;
}

/*Forme*/
.forme-point {
	-fx-stroke: -fx-noir;
}

.forme-segment {
	-fx-stroke-width: 3px;
}

.forme-segment-temp {
	-fx-stroke-width: 3px;
}

.forme-selection {
	-fx-effect: dropshadow(gaussian, -fx-bleu-hover, 5, 0.8, 0, 0);
}

.forme-hover {
	-fx-effect: dropshadow(gaussian, -fx-bleu-hover, 5, 0.8, 0, 0);
}

/*Aide*/

/*Contact*/
.aide-contact-vbox {
	-fx-spacing: 10px;
	-fx-padding: 10px 10px 10px 10px;
	-fx-background-color: -fx-noir-bof-bof;
}

.aide-contact-button {
	-fx-text-fill: -fx-blanc;
	-fx-max-width: 160px;
	-fx-background-radius: 0px;
	-fx-background-color: -fx-noir-bof;
	-fx-border-color: -fx-blanc;
}

.aide-contact-button:hover {
	-fx-background-color: -fx-bleu-hover;
}

.aide-contact-label {
	-fx-min-height: 45px;
	-fx-text-fill: -fx-blanc;
}

.aide-contact-text-field {
	-fx-text-fill: -fx-blanc;
	-fx-background-radius: 0px;
	-fx-background-color: -fx-noir-bof-bof;
	-fx-border-color: -fx-blanc;
}
